<div class="row">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header">{{useraction}}</h5>
      <div class="card-body">
        <form #createUserForm="ngForm">
          <div class="form-row">
            <div class="form-group col-4">
              <label>First Name</label>
              <input type="hidden" class="form-control" id="userId" name="userId" [(ngModel)]="userform.userId">
              <input type="hidden" class="form-control" id="statusId" name="statusId" [(ngModel)]="userform.status">
              <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="userform.firstName"
                required>
            </div>
            <div class="form-group col-4">
              <label>Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="userform.lastName"
                required />
            </div>
            <div class="form-group col-4">
              <label>Employee Id</label>
              <input type="text" class="form-control" id="employeeId" name="employeeId"
                [(ngModel)]="userform.employeeId" required />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-8"></div>
            <div class="form-group col-4" text-center *ngIf="useraction == 'Add User'">
              <button class="btn-sm" [disabled]="!createUserForm.form.valid" (click)="createUser()">Add</button>
              <button class="btn-sm" style="float:right;" type="reset" (click)="onReset()">Reset</button>
            </div>
            <div class="form-group col-4" text-center *ngIf="useraction == 'Update User'">
              <button class="btn-sm" [disabled]="!createUserForm.form.valid" (click)="updateUser()">Update</button>
              <button class="btn-sm" style="float:right;" type="reset" (click)="cancelEdit()">Cancel</button>
            </div>
            <div class="form-group col-4" text-center *ngIf="useraction == 'Delete User'">
              <button class="btn-sm" [disabled]="!createUserForm.form.valid" (click)="deleteUser()">Delete</button>
              <button class="btn-sm" style="float:right;" type="reset" (click)="cancelDelete()">Cancel</button>
            </div>
          </div>
        </form>
        <hr />
        <div class="form-row">
          <table class="table table-bordered table-sm">
            <thead class="thead-light">
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Employee Id</th>
                <th>
                </th>
              </tr>
              <tr>
                <td><input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchFirstName" /></td>
                <td><input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchLastName" /></td>
                <td><input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchEmployeeId" /></td>
                <td>
                  <select class="form-control" id="sortId" name="sortId" [(ngModel)] = "sortColumn" (change)="sortUserViewTable()">
                    <option *ngFor = 'let option of optionSortDropDown' [value]='option.value'>{{option.display}}</option>
                  </select>
                </td>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tbody *ngFor="let user of userList | userpipe : searchFirstName: searchLastName: searchEmployeeId: sortColumn"> 
              <tr *ngIf="user.status == 'A'">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.employeeId}}</td>
                <td>
                  <button class="btn-sm" (click)="onEditUser(user)">Update</button>
                  <button class="btn-sm deleteuserview" id='deleteuserview' name='deleteuserview' (click)="onDeleteUser(user)" style="float:right;">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>